{{define "title"}} KMS {{end}}

{{define "content"}}
<main class="center">
    <h1 class="text-4xl font-bold grow content-center">
        <span class="animate-bounce inline-block">⚡</span>
        <span class="bg-clip-text text-transparent bg-linear-to-r bg-amber-500 to-orange-600">KMS</span>
        <span class="animate-bounce inline-block">⚡</span>
    </h1>
    
    <div class="p-10 pt-0 w-full md:max-w-2xl">
        <a href="/login" class="w-full btn btn-primary">Login</a>
    </div>
</main>
{{end}}