{{define "title"}} Jadwal {{end}}
{{define "content"}}
<main class="flex flex-col">
    {{template "backnav" .}}
    <div class="flex gap-4 p-4">
        <a href="/jadwal/a" class="btn grow h-12 link-kelas">Kelas A</a>
        <a href="/jadwal/b" class="btn grow h-12 link-kelas">Kelas B</a>
    </div>
    <div class="p-2 overflow-auto">
        <table class="table w-full min-w-max border border-neutral">
            <thead>
                <tr class="bg-neutral" id="jadwal-thead">
                    <th>Sesi</th>
                    <th>Jam</th>
                </tr>
            </thead>
            <tbody id="jadwal-tbody">
            </tbody>
        </table>
    </div>
</main>
<script src="/assets/jadwal.js"></script>
<script>
    const jadwalThead = document.getElementById("jadwal-thead")
    const jadwalTbody = document.getElementById("jadwal-tbody")
    const linkKelas = document.getElementsByClassName("link-kelas")
    const kelas = window.location.pathname.replace("/jadwal/", "")

    for (let i = 0; i < linkKelas.length; i++) {
        if(linkKelas[i].getAttribute("href") == window.location.pathname) {
            linkKelas[i].className += " btn-primary"
        }
    }

    Object.keys(jadwal[kelas]).forEach(el => {
        const th = document.createElement("th")
        th.innerHTML = el
        jadwalThead.appendChild(th)
    })

    for (let i = 0; i < sesi.length; i++) {
        const jadwalTbodyTr = document.createElement("tr")

        const sesiTd = document.createElement("td")
        const jamTd = document.createElement("td")
        sesiTd.innerHTML = i + 1
        jamTd.innerHTML = sesi[i]
        jadwalTbodyTr.appendChild(sesiTd)
        jadwalTbodyTr.appendChild(jamTd)

        Object.values(jadwal[kelas]).forEach(el => {
            const matkulTd = document.createElement("td")
            matkulTd.innerHTML = el[i]
            jadwalTbodyTr.appendChild(matkulTd)

        })
        jadwalTbody.appendChild(jadwalTbodyTr)
    }
</script>
{{end}}