{{define "title"}} PTIK {{end}}
{{define "content"}}

{{template "backnav" .}}
<div class="overflow-x-auto">
    <table class="table">
        
        <thead>
            <tr>
                <th>NIM</th>
                <th>Nama</th>
                <th>Tempat, Tanggal Lahir</th>
            </tr>
        </thead>
        <tbody>
            {{range .}}
                <tr>
                    <td>{{.Nim}}</td>
                    <td>{{.Nama}}</td>
                    <td>{{.TempatLahir}}, <span class="tglLahir">{{.TanggalLahir}}</span></td>
                </tr>
            {{end}}
        </tbody>
    </table>
</div>
<script>
    const tglLahir = document.getElementsByClassName("tglLahir")
    for (let i = 0; i < tglLahir.length; i++) {
        let date = new Date(tglLahir[i].innerHTML)
        date = date.toLocaleDateString("id-ID", {dateStyle:"long"})
        tglLahir[i].innerHTML = date
    }
</script>
{{end}}