{{define "title"}} PTIK {{end}}
{{define "content"}}

{{template "backnav" .}}
<main class="overflow-x-auto">
    <table class="table p-4">
        
        <thead>
            <tr>
                <th>NIM</th>
                <th>Nama</th>
                <th>Tempat, Tanggal Lahir</th>
            </tr>
        </thead>
        <tbody>
            {{range .}}
                <tr>
                    <td>{{.Nim}}</td>
                    <td>{{.Nama}}</td>
                    <td>{{.TempatLahir}}, <span class="tgl-lahir">{{.TanggalLahir}}</span></td>
                </tr>
            {{end}}
        </tbody>
    </table>
</main>
{{end}}