{{define "title"}} Submission {{end}}

{{define "content"}}
<main>
    {{template "backnav" .}}
    
    <button 
        class="aspect-square fixed bottom-0 right-0 z-2 m-4 h-auto btn btn-primary rounded-full size-16"
    >
        <span class="font-bold text-xl">+</span>
    </button>
    
    <div class="max-w-4xl mx-auto">
        <div class="grid grid-cols-1 sm:grid-cols-2 items-center p-4 gap-4">
            <!-- <Suspense fallback={<SubmissionSkeleton />}>
                <For each={submissions()}>
                    {item => <SubmissionItem item={item} refetch={refetch} />}
                </For>
            </Suspense> -->
        </div>
    </div>
</main>

{{end}}